<%= form_for(@message) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :message, placeholder: "Compose new micropost..." %>
  </div>
  <%= f.submit "Send", class: "btn btn-large btn-primary" %>
<% end %>